@import url('https://fonts.googleapis.com/css2?family=Anta&family=Boogaloo&family=Bubblegum+Sans&family=Bungee+Shade&family=Capriola&family=Caveat:wght@400..700&family=Delius+Unicase:wght@400;700&family=Finger+Paint&family=Gaegu&family=Gamja+Flower&family=Handlee&family=Kalam:wght@300;400;700&family=Mansalva&family=McLaren&family=Mochiy+Pop+One&family=Ojuju:wght@200..800&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Patrick+Hand+SC&family=Protest+Guerrilla&family=Protest+Revolution&family=Protest+Riot&family=Rampart+One&family=Rubik+Moonrocks&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Stick&family=Wallpoet&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
